@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900');
:root { 
  /* Forbidden */
  --hole-distance: 25px; 
  /* Error */
  --main-color: #262a2b;
  --stroke-color: white;
}
/* line 7, ../sass/reset.sass */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 102, ../sass/reset.sass */
html,
body {
  height: 100%;
}

/* line 106, ../sass/reset.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* line 125, ../sass/reset.sass */
b,
strong {
  font-weight: bold;
}

/* line 132, ../sass/reset.sass */
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 140, ../sass/reset.sass */
ul,
ol {
  list-style: none;
}

/* line 144, ../sass/reset.sass */
li {
  display: list-item;
}

/* line 151, ../sass/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 155, ../sass/reset.sass */
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

/* line 162, ../sass/reset.sass */
q {
  quotes: none;
}

/* line 165, ../sass/reset.sass */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 170, ../sass/reset.sass */
sub,
sup,
small {
  font-size: 75%;
}

/* line 175, ../sass/reset.sass */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 181, ../sass/reset.sass */
sub {
  bottom: -0.25em;
}

/* line 184, ../sass/reset.sass */
sup {
  top: -0.5em;
}

/* line 187, ../sass/reset.sass */
svg {
  overflow: hidden;
}

/* line 5, ../sass/global.sass */
body {
  font-family: "Work Sans", sans-serif;
  background: #fff;
}

/* line 13, ../sass/global.sass */
.header {
  background: #57496e;
  padding: 20px 0;
  /* margin-bottom: 30px; */
}
/* line 17, ../sass/global.sass */
.header--logo {
  color: #fff;
  font-size: 24px;
  padding: 0 15px;
  margin: 0;
  display: inline-block;
}
/* line 23, ../sass/global.sass */
.header--logo a {
  color: rgba(255, 255, 255, 0.5);
}
/* line 25, ../sass/global.sass */
.header--logo a:hover {
  color: #fff;
}
/* line 27, ../sass/global.sass */
.header--logo .selected {
  color: #fff;
}
/* line 29, ../sass/global.sass */
.header--logo .chevron {
  fill: rgba(255, 255, 255, 0.3);
  width: 7px;
  height: auto;
  margin: 0 10px;
}
/* line 34, ../sass/global.sass */
.header nav {
  float: right;
  margin-top: 3px;
}
/* line 37, ../sass/global.sass */
.header nav a {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 20px;
}
/* line 40, ../sass/global.sass */
.header nav a:hover {
  color: #fff;
}

/* line 44, ../sass/global.sass */
.actions--bar {
  /* border-bottom: 1px solid #d5f9fe; */
  /* background: #f8feff; */
  background: #262a2b;
  padding: 20px 0;
  /* margin-top: -30px; */
}
/* line 2, ../sass/mixins.sass */
.actions--bar:before, .actions--bar:after {
  content: " ";
  display: table;
}
/* line 5, ../sass/mixins.sass */
.actions--bar:after {
  clear: both;
}
/* line 50, ../sass/global.sass */
.actions--bar .button {
  margin-right: 15px;
}

/* line 57, ../sass/global.sass */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* line 61, ../sass/global.sass */
a {
  color: #7c689b;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 66, ../sass/global.sass */
p {
  font-family: "Cousine";
  margin-bottom: 30px;
}

/* line 70, ../sass/global.sass */
.bounds {
  max-width: 1250px;
  margin: 0 auto;
}

/* line 74, ../sass/global.sass */
.grid, .grid-25, .grid-33, .grid-66, .grid-100 {
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}
/* line 78, ../sass/global.sass */
.grid-25 {
  width: 25%;
}
/* line 81, ../sass/global.sass */
.grid-33 {
  width: 33.3%;
}
/* line 84, ../sass/global.sass */
.grid-66 {
  width: 66.6%;
}
/* line 87, ../sass/global.sass */
.grid-100 {
  width: 100%;
}
/* line 90, ../sass/global.sass */
.grid-right {
  float: right;
}

/* line 93, ../sass/global.sass */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 102, ../sass/global.sass */
.course--module {
  background: #7c689b;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 30px;
  min-height: 107px;
  display: block;
  position: relative;
  box-sizing: border-box;
}
/* line 2, ../sass/mixins.sass */
.course--module:before, .course--module:after {
  content: " ";
  display: table;
}
/* line 5, ../sass/mixins.sass */
.course--module:after {
  clear: both;
}
/* line 112, ../sass/global.sass */
.course--module--title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 116, ../sass/global.sass */
.course--label {
  font-family: "Cousine";
  font-size: 14px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  font-weight: normal;
}
/* line 123, ../sass/global.sass */
.course--title {
  font-size: 18px;
  color: #fff;
}
/* line 126, ../sass/global.sass */
.course--link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  border: 0;
}
/* line 133, ../sass/global.sass */
.course--add--module {
  background: #eee;
  text-align: center;
}
/* line 137, ../sass/global.sass */
.course--add--module:hover .course--add--title {
  color: #444;
}
/* line 139, ../sass/global.sass */
.course--add--module:hover .add {
  fill: #444;
}
/* line 141, ../sass/global.sass */
.course--add--title {
  color: #999;
  display: inline-block;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
  -moz-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
/* line 149, ../sass/global.sass */
.course--add--title .add {
  width: 13px;
  height: auto;
  margin: 0 5px 0 0;
  fill: #999;
}
/* line 159, ../sass/global.sass */
.course--detail {
  margin-top: 60px;
}
/* line 162, ../sass/global.sass */
.course--header {
  margin-bottom: 30px;
}
/* line 164, ../sass/global.sass */
.course--header .course--label {
  font-size: 18px;
  color: #999;
}
/* line 167, ../sass/global.sass */
.course--header .course--title {
  font-size: 48px;
  margin-bottom: 15px;
  /* color: #332a40; */
  color: #b7b7b7;
}
/* line 171, ../sass/global.sass */
.course--header p {
  font-size: 18px;
  color: #b1a5c4;
  font-weight: 100;
}
/* line 176, ../sass/global.sass */
.course--title--input {
  font-size: 48px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}
/* line 186, ../sass/global.sass */
.course--description {
  margin-bottom: 30px;
}
/* line 188, ../sass/global.sass */
.course--description textarea {
  margin-bottom: 60px;
}
/* line 190, ../sass/global.sass */
.course--description p {
  font-size: 16px;
  line-height: 1.8;
  /* color: #444; */
  color: #b7b7b7;
}
/* line 195, ../sass/global.sass */
.course--description ol,
.course--description ul {
  list-style-type: none;
}
/* line 198, ../sass/global.sass */
.course--description li {
  position: relative;
  padding-left: 30px;
  padding: 30px 0 30px 5%;
  border-top: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Cousine";
}
/* line 2, ../sass/mixins.sass */
.course--description li:before, .course--description li:after {
  content: " ";
  display: table;
}
/* line 5, ../sass/mixins.sass */
.course--description li:after {
  clear: both;
}
/* line 208, ../sass/global.sass */
.course--description ol li {
  counter-increment: step-counter;
}
/* line 210, ../sass/global.sass */
.course--description ol li:before {
  content: counter(step-counter);
  color: #999;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 34px;
}
/* line 219, ../sass/global.sass */
.course--description ul li:before {
  content: "";
  float: left;
  margin: 9px 0 0 -30px;
  width: 5px;
  height: 5px;
  border: 1px solid #999;
  border-radius: 10px;
  display: block;
}
/* line 229, ../sass/global.sass */
.course--description h1,
.course--description h2,
.course--description h3 {
  font-family: "Work Sans", sans-serif;
  color: #222;
  margin-bottom: 30px;
}
/* line 235, ../sass/global.sass */
.course--description h1 {
  font-size: 36px;
}
/* line 237, ../sass/global.sass */
.course--description h2 {
  font-size: 30px;
}
/* line 239, ../sass/global.sass */
.course--description h3 {
  font-size: 24px;
}
/* line 241, ../sass/global.sass */
.course--description h4 {
  font-size: 18px;
  font-weight: 100;
  margin: 0 0 10px;
  color: #999;
  display: block;
}
/* Change color */
.course--stats {
  color: #b7b7b7;
}
/* line 287, ../sass/global.sass */
.course--stats--list h4 {
  font-family: "Cousine";
  font-weight: 100;
  color: #999;
  font-size: 14px;
  padding: 0 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 300, ../sass/global.sass */
.course--stats--list h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}
/* line 303, ../sass/global.sass */
.course--stats--list > li {
  margin-bottom: 50px;
}
/* line 305, ../sass/global.sass */
.course--stats--list > li ul {
  padding-left: 20px;
}
/* line 307, ../sass/global.sass */
.course--stats--list > li li {
  margin-bottom: 15px;
  list-style-type: circle;
}
/* line 311, ../sass/global.sass */
.course--time--input {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* line 460, ../sass/global.sass */
.signin,
.signup {
  margin-top: 60px;
  color: #b7b7b7;
}

/* line 468, ../sass/global.sass */
textarea {
  width: 100%;
  min-height: 300px;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  font-size: 16px;
  margin: 0 0 20px;
  border: 1px solid #ccc4d8;
  color: #666;
  line-height: 1.8;
  outline: none;
  font-family: "Cousine";
  box-sizing: border-box;
}
/* line 29, ../sass/mixins.sass */
textarea::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
}
/* line 31, ../sass/mixins.sass */
textarea:-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
}
/* line 33, ../sass/mixins.sass */
textarea::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
}
/* line 35, ../sass/mixins.sass */
textarea:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
}
/* line 485, ../sass/global.sass */
textarea:focus {
  border-color: #7c689b;
}

/* line 488, ../sass/global.sass */
input {
  width: 100%;
  color: #332a40;
  border-radius: 8px;
  border: 1px solid #ccc4d8;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
}
/* line 29, ../sass/mixins.sass */
input::-webkit-input-placeholder {
  font-weight: normal;
}
/* line 31, ../sass/mixins.sass */
input:-moz-placeholder {
  font-weight: normal;
}
/* line 33, ../sass/mixins.sass */
input::-moz-placeholder {
  font-weight: normal;
}
/* line 35, ../sass/mixins.sass */
input:-ms-input-placeholder {
  font-weight: normal;
}
/* line 500, ../sass/global.sass */
input:focus {
  border-color: #7c689b;
}

/* line 29, ../sass/mixins.sass */
.input-title::-webkit-input-placeholder {
  font-weight: bold;
}
/* line 31, ../sass/mixins.sass */
.input-title:-moz-placeholder {
  font-weight: bold;
}
/* line 33, ../sass/mixins.sass */
.input-title::-moz-placeholder {
  font-weight: bold;
}
/* line 35, ../sass/mixins.sass */
.input-title:-ms-input-placeholder {
  font-weight: bold;
}

/* line 507, ../sass/global.sass */
.button {
  background: #7c689b;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  border: 0;
  margin-right: 10px;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
  box-sizing: border-box;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 520, ../sass/global.sass */
.button:focus {
  outline: none;
}
/* line 522, ../sass/global.sass */
.button:not(.button-secondary):hover {
  background: #63537d;
}

/* line 525, ../sass/global.sass */
.button-secondary {
  /* color: #7c689b; */
  color:#b7b7b7;
  background: none;
  box-shadow: 0 0 0 2px #7c689b inset;
  -webkit-transition: box-shadow 0.2s, color 0.2s;
  -moz-transition: box-shadow 0.2s, color 0.2s;
  -ms-transition: box-shadow 0.2s, color 0.2s;
  -o-transition: box-shadow 0.2s, color 0.2s;
  transition: box-shadow 0.2s, color 0.2s;
}
/* line 530, ../sass/global.sass */
.button-secondary:hover {
  /* color: #63537d; */
  color: #fff;
  box-shadow: 0 0 0 2px #63537d inset;
}

/* adds additional padding to the bottom of an element */
.pad-bottom {
  padding-bottom: 40px;
}

/* added additional class name for header elements */
.signout {
  margin-top: 60px;
}

/* styles the signed in user's name in the header */
.header nav span {
  color: #fff;
  margin-left: 20px;
}

/* styles the validation errors */
.validation--errors--label {
  color: #7c689b;
  font-size: 28px;
}
.validation-errors ul {
  /* color: #7c689b; */
  color: red;
  padding: 15px 0 40px 10px;
}

/* reduce bottom margin on the course description textarea element */
.course--description textarea {
  margin-bottom: 20px;
}

/* ================================= 
  Luis Giraldo's CSS Styles
==================================== */
/* Transform Skew Property and nice List style
  https://codepen.io/vikassingh1111/pen/xBPmbL
*/
body {
	background: #262a2b;
}
.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 40px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li a {
  display: inline-block;
  z-index: 10;
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
/* Hero button (goToBtn) code*/
.goToBtn {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}
.tilesWrap li a:before,
.goToBtn:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	
}
.tilesWrap li:hover a {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li a:hover,
.goToBtn:hover {
	color: #262a2b;
}
.tilesWrap li a:hover:before,
.goToBtn:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}
.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
/* .tilesWrap li:nth-child(1):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
} */

.tilesWrap li.color1:before {
  background: #C9FFBF;
  background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
  background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.tilesWrap li.color2:before {
	background: #f2709c;
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
  background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li.color3:before {
	background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li.color4:before {
	background: #FC354C;
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
  background: linear-gradient(to right, #0ABFBC, #FC354C);
}

.hero-background {
  display: none;
  position: relative;
  height: 100vh;
  z-index: 1;
  background: linear-gradient(
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
     ),
     url("../images/courses.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;
    opacity: 0.5;
    -webkit-filter: blur(4px);
	filter: blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.hero-text-container {
  z-index:2;
  background:rgba(0,0,0,0.2);
  padding:2rem;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
}

.hero-text-container h2 {
  color: white;
  font-size: 4rem;
}

.hero-text-container p {
  color: white;
  font-size: 1.5rem;
}

.hero-text-container button {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
}

.nav-content {
  display: inline-block;
}

/* ===================================== 
   Modal
======================================== */

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  /* display: none; */

  transform: translateY(-250%);
  opacity: 0; 
  transition: all .7s ease;
}

.modal-container.is-open {
  transform: translateY(0%);
  opacity: 1;
  transition: all .7s ease; 
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  width: 95%;
  max-width: 420px;
  min-height: 215px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  border: 1px solid rgba(100, 100, 100, 0.3);
  transition: .4s ease-out;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.8);
  outline: none;
  border-radius: 0.25em;
  border: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-text {
  font-size: 1.8rem;
  color: rgba(50, 50, 50, 0.7);
  margin: 30px 0;
}

.modal-cancel {
  color:rgb(50, 50, 50, 0.7);
  transition: all 0.4s;
}

.modal-cancel:hover {
  color: rgb(50, 50, 50, 0.7);
  background-color: #E0E0DE;
}

.modal-modify,
.modal-delete {
  margin-right: 15px;
}

.is-open {
  display: block;
}

/* ==========================================================================
  Not Found styles taken from https://codepen.io/THEORLAN2/pen/zqOLXQ
  ========================================================================== */
.not-found-container {
  display: none;
  height: 100%;
  margin:0px auto;
  padding: 0px;
  text-align:center;
  background-color: #D4D9ED;
}

.cont_principal {
  position: absolute;  
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cont_error {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 50%;
  margin-top:-150px;
}

.cont_error > h1  {
  font-family: 'Lato', sans-serif;  
  font-weight: 400;
  font-size:150px;
  color:#fff;
  position: relative;
  left:-100%;
  transition: all 0.5s;
} 

.cont_error > p  {
  font-family: 'Lato', sans-serif;  
  font-weight: 300;
  font-size:24px;
  letter-spacing: 5px;
  color:#9294AE;
  position: relative;
  left:100%;
  transition: all 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-transition-delay: 0.5s;
}

.cont_error > a {
  position: relative;
  left:100%;
  /* opacity: 0; */
  transition: left 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: left 0.5s;
  -webkit-transition-delay: 0.5s; 
}

.cont_aura_1 {
  position:absolute;
  width:300px;
  height: 120%;
  top:25px;
  right: -340px;
  background-color: #8A65DF;
  box-shadow: 0px 0px  60px  20px  rgba(137,100,222,0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_aura_2 {
  position:absolute;
  width:100%;
  height: 300px;
  right:-10%;
  bottom:-301px;
  background-color: #8B65E4;
  box-shadow: 0px 0px 60px 10px rgba(131, 95, 214, 0.5),0px 0px  20px  0px  rgba(0,0,0,0.1);
  z-index:5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.cont_error_active > .cont_error > h1 {
  left:0%;
}

.cont_error_active > .cont_error > p {
  left:0%;
}

.cont_error_active > .cont_error > a {
  left:0%;
  /* opacity: 1; */
}

.cont_error_active > .cont_aura_2 {
  animation-name: animation_error_2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: rotate(-20deg);    
}
.cont_error_active > .cont_aura_1 {
  transform: rotate(20deg);
  right:-170px;
  animation-name: animation_error_1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes animation_error_1 {
  from {
    -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  }
  to {  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  }
}
@-o-keyframes animation_error_1 {
  from {
    -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  }
  to {  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  }
}
@-moz-keyframes animation_error_1 {
  from {
    -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  }
  to {  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  }
}
@keyframes animation_error_1 {
  from {
    -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  }
  to {  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  }
}

/* Second animation */
@-webkit-keyframes animation_error_2 {
  from { -webkit-transform: rotate(-15deg); 
  transform: rotate(-15deg);
  }
  to { -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  }
}
@-o-keyframes animation_error_2 {
  from { -webkit-transform: rotate(-15deg); 
  transform: rotate(-15deg);
  }
  to { -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  }
}
@-moz-keyframes animation_error_2 {
  from { -webkit-transform: rotate(-15deg); 
  transform: rotate(-15deg);
  }
  to { -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  }
}
@keyframes animation_error_2 {
  from { -webkit-transform: rotate(-15deg); 
  transform: rotate(-15deg);
  }
  to { -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  }
}

/* ==========================================================================
  Forbidden design taken from https://codepen.io/claireremmert/pen/MqzOxJ/
  ========================================================================== */

  #hole1 { top: var(--hole-distance); left: var(--hole-distance);}
  #hole2 { top: var(--hole-distance); right: var(--hole-distance);}
  #hole3 { bottom: var(--hole-distance); left: var(--hole-distance);}
  #hole4 { bottom: var(--hole-distance); right: var(--hole-distance);}

  .hole {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient(circle at 99%, #f4f4f4 10%, grey 70%);
    transform: rotate(45deg);
  }

  #sign-wrapper {
    display: none;
    background-color: #f4f4f4;
    position: relative;
    width: 80%;
    min-width: 340px;
    max-width: 800px;
    height: 90%;
    margin: 2% auto;
    padding: 50px;
    border: 1px solid #e9ecf0;
    border-radius: 45px;
    box-shadow: 5px 5px 10px #000;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }
  
  #header-forbidden {
    background-color: #ef5350;
    padding: 20px;
    border-radius: 30px 30px 0 0;
    text-align: center;
  }

  .h1-forbidden {
    text-transform: uppercase;
    color: #f4f4f4;
    font-size: 5.5em;
    line-height: .9em;
    letter-spacing: 3px;
    margin: 0;
    font-weight: 900;
  }

  .strike {
    position: absolute;
    width: 25%;
    height: 10px;
    background-color: #fff;
  }
  #strike1 { top: 115px; left: 80px; }
  #strike2 { top: 115px; right: 80px; }
  
  #sign-body-forbidden {
    display: flex;
    flex-wrap: nowrap;
  }

  #copy-container-forbidden   { flex-basis: 60%; }
  #circle-container-forbidden { flex-basis: 40%; }

  .h2-forbidden, 
  .p-forbidden {
    text-align: center;
    color: #1d1e22;
  }

  .h2-forbidden {
    font-size: 3em;
    text-transform: uppercase;
    margin: 40px 0;
    line-height: .9em;
  }

  .p-forbidden {
      font-size: 20px; 
  }

/* ==========================================================================
  Error page, design taken from https://codepen.io/gaiaayan/pen/QVVxaR
  ========================================================================== */
.h1-error-page {
  margin: 100px auto 0 auto;
  color: var(--stroke-color);
  font-size: 10rem; line-height: 10rem;
  font-weight: 200;
  text-align: center;
}

.h2-error-page {
  margin: 20px auto 30px auto;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
}

.h1-error-page,
.h2-error-page {
  -webkit-transition: opacity 0.5s linear, margin-top 0.5s linear; /* Safari */
  transition: opacity 0.5s linear, margin-top 0.5s linear;
}

.loading .h1-error-page, .loading .h2-error-page {
  margin-top: 0px;
  opacity: 0;  
}

.gears {
  position: relative;
  margin: 0 auto;
  width: auto; height: 0;
}

.gear {
  position: relative;
  z-index: 0;
  width: 120px; height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background: var(--stroke-color);
}

.gear:before{
  position: absolute; left: 5px; top: 5px; right: 5px; bottom: 5px;
  z-index: 2;
  content: "";
  border-radius: 50%;
  background: var(--main-color);
}

.gear:after {
  position: absolute; left: 25px; top: 25px;
  z-index: 3;
  content: "";
  width: 70px; height: 70px;
  border-radius: 50%;
  border: 5px solid var(--stroke-color);
  box-sizing: border-box;
  background: var(--main-color);
}

.gear.one {
  left: -130px;
}
.gear.two {
  top: -75px;
}
.gear.three {
  top: -235px;
  left: 130px;
}
.gear .bar {
  position: absolute; left: -15px; top: 50%;
  z-index: 0;
  width: 150px; height: 30px;
  margin-top: -15px;
  border-radius: 5px;
  background: var(--stroke-color);
}

.gear .bar:before {
  position: absolute; left: 5px; top: 5px; right: 5px; bottom: 5px;
  z-index: 1;
  content: "";
  border-radius: 2px;
  background: var(--main-color);
}
.gear .bar:nth-child(2) {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}
.gear .bar:nth-child(3) {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}

@-webkit-keyframes clockwise {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}

@-o-keyframes clockwise {
  0% { -webkit-transform: rotate(0deg);
  transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);
  transform: rotate(360deg);}
}

@-moz-keyframes clockwise {
  0% { -webkit-transform: rotate(0deg);
  transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);
  transform: rotate(360deg);}
}

@keyframes clockwise {
  0% { -webkit-transform: rotate(0deg);
  transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);
  transform: rotate(360deg);}
}

@-webkit-keyframes anticlockwise {
  0% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

@-o-keyframes anticlockwise {
  0% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

@-moz-keyframes anticlockwise {
  0% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

@keyframes anticlockwise {
  0% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

@-webkit-keyframes clockwiseError {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  40% { -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  60% { -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes clockwiseError {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  40% { -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  60% { -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes clockwiseError {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  40% { -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  60% { -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes clockwiseError {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  40% { -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  60% { -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes anticlockwiseErrorStop {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  60% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes anticlockwiseErrorStop {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  60% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes anticlockwiseErrorStop {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  60% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes anticlockwiseErrorStop {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  60% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes anticlockwiseError {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  40% { -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  60% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes anticlockwiseError {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  40% { -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  60% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes anticlockwiseError {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  40% { -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  60% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes anticlockwiseError {
  0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  40% { -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  60% { -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.gear.one {
  -webkit-animation: anticlockwiseErrorStop 2s linear infinite;
  animation: anticlockwiseErrorStop 2s linear infinite;
}
.gear.two {
  -webkit-animation: anticlockwiseError 2s linear infinite;
  animation: anticlockwiseError 2s linear infinite;
}
.gear.three {
  -webkit-animation: clockwiseError 2s linear infinite;
  animation: clockwiseError 2s linear infinite;
}
.loading .gear.one, .loading .gear.three {
  -webkit-animation: clockwise 3s linear infinite;
  animation: clockwise 3s linear infinite;
}
.loading .gear.two {
  -webkit-animation: anticlockwise 3s linear infinite;
  animation: anticlockwise 3s linear infinite;
}

/* ==========================================================================
Loading animation taken from https://codepen.io/bbckn/pen/QWNqGPP
========================================================================== */

.loading-container {
  display: flex;
}

.circle-loading {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin: 12px;
  animation: jump 0.5s ease-in infinite;
}

.circle-loading:nth-of-type(1) {
  background-color: rgb(20, 101, 106);
}

.circle-loading:nth-of-type(2) {
  animation-delay: 0.1s;
  background-color: rgb(250, 114, 104);
}

.circle-loading:nth-of-type(3) {
  animation-delay: 0.2s;
  background-color: rgb(148, 219, 223);
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}


/* ==========================================================================
checkmark animation taken from https://codepen.io/elevaunt/pen/VvKdVa
========================================================================== */
.delete-container {
  position: relative;
  height: 100vh;
}

.checkmark {
  width: 300px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.circle {
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}

.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}

.text-checkmark {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}

.success-checkmark {
  color: #73AF55;
}

.error-checkmark {
  color: #D06079;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

/* ==========================================================================
Helper Classes
========================================================================== */

.top-60 {
  margin-top: 60px;
}

.white-letters {
  color: white;
}

.small-devices-layout {
  display: block;
  text-align: center;
  margin: 30px;
  color: white;
}

.home-page-button {
  text-align: center;
  padding: 20px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

 /* ==========================================================================
  Media Queries
  ========================================================================== */
  
/* Small devices (landscape phones, up to 768px) */
@media (max-width: 767px) { 
  .small-devices {
    width: 100%;
  }

  .button {
    width: 100%;
    margin-bottom: 20px;
  }

  .course--detail {
    margin-top: 0;
  }

  .modal {
    padding: 10px;
  }

  .modal-close-btn {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero-background {
    display: block;
  }
  /* Center content vertically */
  .hero-text-container,
  .modal {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 4rem
  }

  .modal-close-btn {
    display: inline-block;
  }

  #sign-wrapper {
    display: block;
  }

  .not-found-container {
    display: block;
  }

  .small-devices-layout {
    display: none;
  }
}